<form {{action "save" on="submit"}} class="ui form">
  <div class="field">
    <label>
      Body
      {{input type="text" value=model.body}}
    </label>
  </div>
  <div class="field">
    <input type="submit" value="Save" class="ui button primary">
  </div>
</form>
