<p>
  {{link-to "Comment list" "comments.index" }}
</p>

<h1>Comment show</h1>

<p>
  <strong>Body:</strong>
  <span>{{model.body}}</span>
</p>

<p>
  <strong>Created At:</strong>
  <span>{{model.createdAt}}</span>
</p>
